body {
	background-color:  black; 
	color: white;
	font-family: "bank gothic";
}

a {
	text-decoration: none;
	color: white;
	mix-blend-mode: difference;
}

h1, h2, h3 {
	text-decoration: none;
	margin: 5px;
	color: white;
	font-weight: bold;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	display: none;
}

.Image {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;

	animation: monitorIn 8s ease-in forwards;
	opacity: 1;
}

.title {
	position: absolute;
	top: 0px;
	z-index: 2;
}

@keyframes monitorIn {
	from {
        z-index: 0;
        opacity: 1;
    }
    to {
        z-index: -2;
        opacity: 0;
    }
}

.desktop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.BackgroundImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
	border: none;
}

.QR {
	position: absolute;
	display: block;
	bottom: 20px;
	left: 20px;
	width: 120px;
	z-index: 2;
}

.logo {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 180px;
	z-index: 2;
}

.ARquickview {
	display: none;
}

.info {
	position: absolute;
	width: 100%;
	bottom: 5px;
	text-align: center;
	z-index: 2;
	font-size: 0.8em;
}

.loading_sentence {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -25%);
	z-index: 0;
}

@media (max-width: 500px) {
	body {
		background-color: black;
	}

	.desktop, .QR {
		display: none;
	}

	.ARquickview {
		display: block;
		mix-blend-mode: normal;
	}

	h1 {
	font-size: 3em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		display: block;
		font-size: 1em;
		text-align: center;
		margin-top: 50%;
	}

	.logo {
		width: 130px;
	}

	.info {
		width: 50%;
		text-align: left;
	}
}