body {
	background-color:  black; 
	color: white;
	font-family: arial;
}

a {
	text-decoration: none;
	color: white;
	mix-blend-mode: difference;
}

h1 {
	font-size: 4em;
	text-decoration: none;
	margin: 5px;
	color: white;
	mix-blend-mode: difference;
	font-weight: bold;
}

.Image {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;


	animation: monitorIn 4s ease-in forwards;
	opacity: 1;
}

@keyframes monitorIn {
	from {
        z-index: 0;
        opacity: 1;
    }
    to {
        z-index: -1;
        opacity: 0;
    }
}

.BackgroundImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
	border: none;

	background-color: black;
}

.QR {
	position: absolute;
	display: none;
	bottom: 20px;
	right: 20px;
	width: 200px;
}

model-viewer {
	display: none;
}

.loading {
	display: block;
	width: 100vw;
	height: 50vh;
	background-color: red;
}