body {
	color: white;
	font-family: arial bold;
}

a {
	text-decoration: none;
	color: white;
	mix-blend-mode: difference;
}

h1 {
	font-size: 4em;
	text-decoration: none;
	margin: 5px;
	color: white;
	mix-blend-mode: difference;
}

.Image {
	position: absolute;
	top: 0px;
	left: 0px;
	height:  100%;
	width: 100%;
	overflow: hidden;

	z-index: 0;


	animation: monitorIn 5s ease-in forwards;
	opacity: 0;
}

@keyframes monitorIn {
	from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.BackgroundImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
	border: none;
}

.QR {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 200px;

	z-index: 1;
}