body {
	color: white;
	font-family: arial bold;
}

a {
	text-decoration: none;
	color: white;
	mix-blend-mode: difference;
}

h1 {
	font-size: 4em;
	text-decoration: none;
	margin: 5px;
	color: white;
	mix-blend-mode: difference;
}

.Image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	z-index: 2;

	animation: monitorIn 1s ease-in forwards;
	opacity: 0;
}

@keyframes monitorIn {
	from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.BackgroundImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	border: none;
}

.QR {
	position: absolute;
	top: 2%;
	right: 2%;
	width: 5%;

	z-index: 1;
}